<div class="banner ">
    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}

    <div class="banner container ">
        <h1 class="text-center text-uppercase py-5 ">pour vous servir</h1>
        <div class="row-cols row-col-md-2 justify-content-evenly d-md-flex ali align-items-md-center">
            <div class="card p-2 shadow-lg shadow-white mb-5 mb-md-0">
                <img src="{{ asset('build/images/candidat.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a href="{{ path('app_register_candidate') }}"
                       class="btn btn-outline-primary text-uppercase fs-3 text-black px-5">
                        postuler
                    </a>
                </div>
            </div>
            <div class="card p-2 shadow-lg ">
                <img src="{{ asset('build/images/recruteur.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a href="{{ path('app_register_recruiter') }}"
                       class="btn btn-outline-primary text-uppercase fs-3 text-black px-5">
                        recruter
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>