<nav class="navbar navbar-expand-lg bg-light">
    <div class="container d-flex justify-content-around">
        <a class="navbar-brand col-2" href="{{ path('app_home') }}">Trt Consulting</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0 col-6 justify-content-center">
                <li><a href="#" class="nav-link px-2 link-dark">Tarifs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">a Propos</a></li>
            </ul>
            <div class="col-md-4  d-flex justify-content-around align-items-center text-end btn-group">
                {% if is_granted('ROLE_ADMIN') %}

                    <a class="btn btn primary btn-outline-primary me-2" href="{{ path('admin') }}">Administration</a>
                    <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>
                {% elseif is_granted('ROLE_CONSULTANT') %}
                    <a class="btn btn primary btn-outline-warning me-2">Vous êtes connecté en tant que :
                        {% for role in app.user.roles %}
                            {% if role == 'ROLE_CONSULTANT' %}
                                Consultant
                            {% endif %}
                        {% endfor %}
                    </a>
                    <a class="btn btn primary btn-outline-primary me-2" href="{# route admin #}">Mon Compte</a>
                    <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>
                {% elseif is_granted('ROLE_RECRUITER') %}
                    <a class="btn btn primary btn-outline-warning me-2">Vous êtes connecté en tant que :
                        {% for role in app.user.roles %}
                            {% if role == 'ROLE_RECRUITER' %}
                                Consultant
                            {% endif %}
                        {% endfor %}
                    </a>
                    <a class="btn btn primary btn-outline-primary me-2" href="{# route recruiter #}">Mon Compte</a>
                    <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>

                {% elseif is_granted('ROLE_CANDIDATE') %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {% for role in app.user.roles %}
                                {% if role == 'ROLE_CANDIDATE' %}
                                    Vous êtes connecté en tant que Candidat
                                {% endif %}
                            {% endfor %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end list-unstyled">
                            <li>
                                <button class="dropdown-item" type="button">
                                    <a href="{{ path('app_candidate_details', {id: app.user.candidate.id}) }}"
                                       class="text-decoration-none text-black">
                                        Mon Compte
                                    </a>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">Mes Announces</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    <a href="{{ path('app_announces') }}"
                                       class="text-decoration-none text-black">
                                        Voir les announces
                                    </a>
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    {{ app.user.email }}
                                </button>
                            </li>
                            <li class="dropdown-item">
                                <a class=" me-2 text-capitalize pe-2 text-decoration-none text-black"
                                   href="{{ path('app_logout') }}">
                                    Déconnexion
                                </a>
                            </li>

                        </ul>
                    </div>


                {% else %}
                    <div class="col-md-6">
                        <a class="btn btn primary btn-outline-primary me-2 text-capitalize pe-2"
                           href="{{ path('app_login') }}">se connecter</a>
                    </div>
                {% endif %}


            </div>

        </div>
    </div>
</nav>
