<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"/>
            </svg>
        </a>

        <div class="">
            <a class="navbar-brand" href="{{ path('app_home') }}">Consulting TRT</a>
        </div>

        <div class="col-md-6 d-flex justify-content-around align-items-center text-end btn-group">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn primary btn-outline-warning me-2">Vous êtes connecté en tant que :
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            Administrateur
                        {% endif %}
                    {% endfor %}
                </a>
                <a class="btn btn primary btn-outline-primary me-2" href="{# route admin #}">Mon Compte</a>
                <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>
            {% elseif is_granted('ROLE_CONSULTANT') %}
                <a class="btn btn primary btn-outline-warning me-2">Vous êtes connecté en tant que :
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_CONSULTANT' %}
                            Consultant
                        {% endif %}
                    {% endfor %}
                </a>
                <a class="btn btn primary btn-outline-primary me-2" href="{# route admin #}">Mon Compte</a>
                <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>
            {% elseif is_granted('ROLE_RECRUITER') %}
                <a class="btn btn primary btn-outline-warning me-2">Vous êtes connecté en tant que :
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_RECRUITER' %}
                            Consultant
                        {% endif %}
                    {% endfor %}
                </a>
                <a class="btn btn primary btn-outline-primary me-2" href="{# route recruiter #}">Mon Compte</a>
                <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>

            {% elseif is_granted('ROLE_CANDIDATE') %}
                <a class="btn btn primary btn-outline-warning me-2">Vous êtes connecté en tant que :
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_CANDIDATE' %}
                            Candidat
                        {% endif %}
                    {% endfor %}
                </a>
                <a class="btn btn primary btn-outline-primary me-2" href="{# route candidate #}">Mon Compte</a>
                <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="btn btn primary btn-outline-primary me-2" href="{{ path('app_login') }}">Login</a>
            {% endif %}


        </div>
    </header>
</div>